@import url('fonts.css');
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	min-height: 100%;
	width: 100%;
}
#header {
	background-color: #FFFFFF;
	width: 100%;
	float: left;
	position: relative;
}

.encabezado {
	background: url(img/logo.png) #FFFFFF no-repeat;
	background-position: left;
	background-size: contain;
	color: #1B216F;
	font-family: Georgia;
	font-weight: 300;
	float: left;
	cursor: pointer;
}
#navigation {
	background-color: #FFFFFF;	position: absolute;
	bottom: 0;
	right: 0;
}
.linkNavegacion {
	display: block;
	min-width: 100px;
	background-color: #FFFFFF;
	color: #1B216F;
	float: left;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-family: "Oswald";
	font-weight: 300;
}
.linkNavegacion:visited, .linkNavegacion:active {
	color: #1B216F;
}
.linkNavegacion:hover {
	color: #3B3B3B;
}
.seleccionado {
	background: url(img/ribbon.png) no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	color: #F2F2F2 !important;
}
#cuerpo {
	width: 100%;
	background: url(img/medioescudo.png) #1B216F no-repeat;
	background-position: left;
	background-size: contain;
	display: block;
	padding: 1% 0 1% 0;
	float: left;
}

#footer {
	min-height: 90px;
	height: 11%;
	background-color: #FFFFFF;
	width: 80%;
	padding-left: 10%;
	padding-top: 0.5%;
	font-family: 'Roboto', serif;
	color: #3B3B3B;
	float: left;
}
.grupoNavegacion {
	float: left;
	height: 80%;
	width: 20%;
}
.linkFooter, .linkFooter :visited, .linkFooter :active {
	float: left;
	width: 80%;
	cursor: pointer;
	text-decoration: none;
	color: #3B3B3B;
	margin-bottom: 4%;
}
.linkFooter:hover, .linkMasUtilizado:hover {
	color: #1B216F;
	text-decoration: underline;
}
.datos {
	float: right;
}
. {
text-align:center;
width: 100%;
float: right;
}
.copyright {
	width: 100%;
	float: left;
}
.copyright a {
	text-decoration: none;
	text-align: center;
	width: 100%;
	display: block;
	color: #000000;
}
.copyright a:hover {
	font-weight: bold;
	color: #1B216F;
	text-decoration: none;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #F2F2F2;
	display: block;
}
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(img/modal_close.png);
	z-index: 2;
}

/*HOME*/
.carrousellHome {
	height: 30%;
	width: 80%;
	margin: 0 0 0 10%;
	float: left;
	position: relative;
}

.diapo {
	margin: 0;
	background-color: #F2F2F2;
}
.diapo p {
	padding: 2% 8%;
	font-family: Georgia;
}
.diapo img {

}
.wrapperLinkHome {
	height: 60%;
	width: 76%;
	margin: 0 0 0 10%;
	float: left;
	position: relative;
	padding: 1% 2% 1% 2%;
	background-color: #F2F2F2;
	color: #3B3B3B;
}
.wrapperLinkHomeImagenes {
	height: 100%;
	width: 70%;
	float: left;
	margin-right: 1%;
}
.wrapperLinkHomeSecundario {
	width: 25%;
	border-left: solid 1px #000000;
	padding: 0 0 0 2%;
	height: 100%;
	float: left;
}
.linkHomeImagen {
	height: 40%;
	display: block;
	color: #3B3B3B;
}
.linkHomeImagen img {
	width: 40%;
	height: 100%;
	float: left;
}
.wrapperTituloBajadaHome {
	width: 55%;
	height: 100%;
	float: right;
	font-family: Georgia;
}
.wrapperTituloBajadaHome .bajadaLinkHome {
	margin: 6% 0 0 0;
	font-family: Georgia;
}
.tituloLinkHome, .tituloLinksMasUtilizados, .linkMasUtilizado {
	width: 100%;
	float: left;
	font-family: "Oswald";
}
.linkMasDocumentos, .linkMasDocumentos:visited, .linkMasDocumentos:active {
	float: left;
	width: 100%;
	text-align: right;
	cursor: pointer;
	text-decoration: none;
	display: block;
	padding-top: 5%;
	font-family: Georgia;
	color: #30338C;
}
.linkMasDocumentos:hover {
	text-decoration: underline;
	color: #05073C;
}

.bajadaLinkHome {
	width: 100%;
	float: left;
	font-family: Georgia;
}
.tituloLinksMasUtilizados {
	margin-bottom: 5%;
}
.linkMasUtilizado, .linkMasUtilizado:visited, .linkMasUtilizado:active {
	padding: 0 0 5% 10%;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

/*Home*/

/*FORMACION*/
.wrapperFormacion {
	width: 80%;
	margin-left: 10%;
	min-height: 100%;
}

.wrapperInfoFormacion {
	width: 70%;
	margin-right: 1%;
	float: left;
	min-height: 100%;
}
#wrapperTituloBajada {
	width: 95%;
	padding: 2% 2% 1% 2%;
}

#tituloFormacion {
	width: 100%;
	color: #F2F2F2;
	float: left;
	font-family: Georgia;
	padding-bottom: 2%;
	font-weight: normal;
}
#bajadaFormacion {
	width: 100%;
	color: #F2F2F2;
	float: left;
	font-style: italic;
	font-family: Georgia;
}
#hSeparatorFormacion {
	width: 80%;
	height: 1px;
	background-color: #F2F2F2;
	margin: 4% 0 4% 10%;
	float: left;
}

.wrapperNavegacionFormacion {
	width: 28%;
	float: right;
	padding-top: 2%;
}
.itemNavegacionFormacion {
	float: right;
	width: 96%;
	cursor: pointer;
	background-color: #F2F2F2;
	margin-bottom: 5%;
	position: relative;
}
.tituloItemNavegacion {
	color: #1B216F;
	font-family: 'Oswald', sans-serif;
}
.bajadaItemNavegacion {
	width: 90%;
	font-family: Georgia;
}
.oculto {
	display: none;
}
#wrapperContenidoFormacion p {
	padding-bottom: 2%;
}
#wrapperContenidoFormacion h3 {
	padding-bottom: 2%;
}
#wrapperContenidoFormacion ul {
	list-style-position: inside;
}
/*FORMACION*/

/*CALENDARIO*/
.wrapperCalendario {
	width: 80%;
	margin-left: 10%;
}

.linkCalendario, .linkCalendario:visited, .linkCalendario:active {
	display: block;
	color: #25286D;
	background-color: #F2F2F2;
	padding: 2%;
	margin: 0 0 2% 0;
	cursor: pointer;
	text-decoration: none;
	position: relative;
}
.linkCalendario h1 {
	font-family: 'Roboto';
}
.linkCalendario p {
	font-family: 'Roboto';
	width: 80%;
}
.flechaCalendario {
	position: absolute;
	top: 35%;
	background-image: url('img/arrow_right.png');
	background-color: rgba(0,0,0,0);
	border: none;
	background-size: cover;
	height: 40px;
	width: 37px;
	right: -5px;
	display: block;
	cursor: pointer;
}

.wrapperInfoCalendario {
	width: 70%;
	margin-right: 1%;
	float: left;
	min-height: 100%;
}

#wrapperTituloCalendario {
	width: 95%;
	padding: 2% 2% 1% 2%;
	float: left;
}
#tituloCalendario {
	width: 100%;
	color: #F2F2F2;
	float: left;
	font-family: 'Roboto';
}
#bajadaCalendario {
	width: 100%;
	color: #F2F2F2;
	float: left;
	font-family: 'Roboto';
	font-style: italic;
}
#hSeparatorCalendario {
	width: 80%;
	height: 1px;
	background-color: #F2F2F2;
	margin: 4% 0 4% 10%;
	float: left;
}
#wrapperIframeCalendario {
	width: 100%;
	height: 65%;
	background-color: #F2F2F2;
	float: left;
}
#wrapperLinksCalendario {
	width: 100%;
	height: 65%;
	float: left;
}
#wrapperContenidoFormacion {
	/*min-height: 63%;*/
}
#wrapperContenidoCalendario {
	min-height: 67%;
}
#wrapperContenidoCalendario, #wrapperContenidoFormacion {
	width: 94%;
	background-color: #F2F2F2;
	overflow: hidden;
	color: #3B3B3B;
	font-family: Georgia;
	padding: 3%;
}

.wrapperNavegacionCalendario {
	width: 28%;
	float: right;
}
.itemNavegacionCalendario {
	float: right;
	width: 96%;
	cursor: pointer;
	background-color: #F2F2F2;
	margin-bottom: 5%;
	position: relative;
}
.tituloItemNavegacion {
	color: #1B216F;
	font-family: 'Oswald', sans-serif;
}
.bajadaItemNavegacion {
	width: 90%;
	font-family: Georgia;
	line-height: 1.5;
	padding: 2% 0 3% 0;
}
.flechaNavegacionDerecha, .flechaNavegacionDerechaCalendario {
	position: absolute;
	background-image: url('img/arrow_right.png');
	background-color: rgba(0,0,0,0);
	border: none;
	background-size: cover;
	display: block;
	cursor: pointer;
}
.flechaNavegacionDerecha {
	height: 40px;
	width: 37px;
	right: -14px;
	top: 35%;
}
.flechaNavegacionDerechaCalendario {
	height: 30px;
	width: 27px;
	right: -10px;
	top: 0;
}
.oculto {
	display: none;
}

/*CALENDARIO*/

/*contacto*/
.encabezadoContacto {
	color: #1B216F;
	margin: 0 0 3% 5%;
	font-family: Georgia;
}
.wrapperDetalleContacto {
	width: 100%;
}
.cCorreo {
	background: url('img/c3.png') no-repeat top;
	background-size: auto 60%;
}
.cTelefono {
	background: url('img/c1.png') no-repeat top;
	border-right: solid 1px #818181;
	background-size: auto 65%;
}
.cMail {
	background: url('img/c2.png') no-repeat top;
	border-right: solid 1px #818181;
	background-size: auto 60%;
}
.vSeparator {
	width: 1px;
	height: 100%;
	background-color: #000000;
	display: block;
	float: left;
	margin: 0 2%;
}
.tituloContacto {
	color: #1B216F;
	text-align: center;
	width: 100%;
	font-family: Georgia;
}
.detalleContacto {
	width: 33%;
	float: left;
	padding-top: 13%;
	font-family: Georgia;
}

.bajadaContacto {
	text-align: center;
	width: 100%;
	font-family: Georgia;
	margin-top: 2%;
}
.azul {
	color: #1B216F;
}
/*contacto*/
.fraseInstitucional p:before, .fraseContacto p:before, .diapo p:before {
	content: '    ';
	display: block;
	background: url('img/quote_small_A.png') no-repeat;
	background-size: cover;
	float: left;
}
.fraseInstitucional p:after, .fraseContacto p:after, .diapo p:after {
	content: '    ';
	display: block;
	background: url('img/quote_small_C.png') no-repeat;
	background-size: cover;
	float: right;
}
/*Institucional*/
.fraseInstitucional {
	height: 12%;
	width: 80%;
	margin: 0 0 0 10%;
	background-color: #F2F2F2;
	color: #1B216F;
	font-family: Georgia;
}
.fraseContacto {
	height: 17%;
	width: 80%;
	margin: 0 0 0 10%;
	background-color: #F2F2F2;
	color: #1B216F;
	font-family: Georgia;
}

.fraseInstitucional p, .fraseContacto p {
	float: left;
	text-align: center;
	padding: 1.5% 8%;
}
.wrapperContenidoInstitucional {
	min-height: 82%;
	margin: 1% 0 2.5% 10%;
	padding: 1% 0 1% 2%;
	width: 78%;
	background-color: #F2F2F2;
}
.wrapperContenidoContacto {
	min-height: 72%;
	margin: 1% 0 2.5% 10%;
	padding: 1% 0 1% 2%;
	width: 78%;
	background-color: #F2F2F2;
}
.wrapperDetalleInstitucional {
	width: 68%;
	padding-right: 2%;
	float: left;
}
.detalleInstitucional {

}
.hSeparator, .hSeparator2 {
	height: 1px;
	width: 100%;
	background-color: #818181;
	float: left;
}
.hSeparator {
	margin: 2% 0 2% 0;
}
.hSeparator2 {
	margin: 2% 0 2% 0;
}
.tituloInstitucional {
	color: #25286D;
	font-family: 'Oswald', sans-serif;
}
.bajadaInstitucional {
	font-family: Georgia;
	color: #3B3B3B;
}
ul.bajadaInstitucional {
	padding: 1% 0 0 2%;
}
.wrapperImagenesInstitucional {
	background-color: #F2F2F2;
	width: 28%;
	float: left;
}
.wrapperImagenesInstitucional img {
	height: 25%;
	margin-left: 2.5%;
	margin-top: 3%;
}
/*institucional*/

/*DOCUMENTOS*/
.wrapperDocumentos {
	width: 72%;
	margin-left: 10%;
	padding: 4%;
	background-color: #F2F2F2;
	height: 75%;
}
.documento {
	display: block;
	width: 70%;
	padding-left: 30%;
	background: url(img/pdf.png) no-repeat;
	background-size: contain;
	margin-bottom: 3%;
	cursor: pointer;
}
.tituloDocumento {
	font-family: "Oswald";
	color: #818181;
}
.VBoxMitad {
	height: 100%;
	width: 49%;
	padding-right: 1%;
	float: left;
}
/*DOCUMENTOS*/

@media screen and (max-height: 800px) {
	.linkNavegacion {
		font-size: 20px;
		padding: 25px 0;
	}
	.encabezado {
		font-size: 36px;
		padding: 20px 0px 15px 80px;
		margin-left: 2%;
	}
	#navigation {
		min-height: 20px;
	}
	#header {
		min-height: 80px;
	}

	#cuerpo {
		min-height: 300px;
	}
	#footer {
		font-size: 12px;
	}
	#datos {
		padding: 10px 30px 30px 0px;
		font-size: 12px;
	}
	#copyright {
		font-size: 10px;
	}
	.diapo p {
		font-size: 24px;
	}

	.tituloLinkHome {
		font-size: 14px;
	}
	.bajadaLinkHome {
		font-size: 11px;
	}
	.tituloLinksMasUtilizados {
		font-size: 20px;
	}
	.linkMasUtilizado {
		font-size: 14px;
		padding-top: 10px;
	}

	#wrapperContacto {
		padding: 100px 0 100px 80px;
		min-height: 200px;
	}
	.formContacto {

	}
	#camposWrapper {
		padding-bottom: 30px;
	}
	.campoFormulario {
		min-width: 356px;
		margin-bottom: 10px;
		font-size: 14px;
	}
	.campoFormulario label {
		font-size: 14px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 14px;
		padding: 0 0 0 5px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}
	.fraseInstitucional {
		font-size: 32px;
	}
	.fraseContacto {
		font-size: 26px;
	}
	.tituloInstitucional {
		font-size: 16px;
		padding-bottom: 15px;
	}
	.bajadaInstitucional {
		font-size: 13px;
	}
	.tituloContacto {
		font-size: 14px;
	}
	.bajadaContacto {
		font-size: 12px;
	}
	.encabezadoContacto {
		font-size: 40px;
	}
	#tituloFormacion {
		font-size: 40px;
	}
	#bajadaFormacion {
		font-size: 17px;
	}
	.itemNavegacionFormacion {
		min-height: 45px;
		padding: 5px 2%;
	}
	#tituloCalendario {
		font-size: 40px;
	}
	#bajadaCalendario {
		font-size: 17px;
	}
	.linkCalendario h1 {
		font-size: 40px;
	}
	.linkCalendario p {
		font-size: 13px;
	}
	.itemNavegacionCalendario {
		min-height: 15px;
		padding: 5px 2%;
	}
	.tituloItemNavegacion {
		font-size: 13px;
	}
	.bajadaItemNavegacion {
		font-size: 11px;
	}
	.fraseInstitucional p, .fraseContacto p {
		font-size: 20px;
	}
	.fraseInstitucional p:before, .fraseContacto p:before, .diapo p:before {
		width: 37px;
		height: 32px;
	}
	.fraseInstitucional p:after, .fraseContacto p:after, .diapo p:after {
		width: 37px;
		height: 32px;
	}
	.documento {
		height: 50px;
	}
	.tituloDocumento {
		font-size: 14px;
	}
}

@media screen and (min-height: 800px) {

	.encabezado {
		font-size: 45px;
		height: 70px;
		padding: 25px 0px 15px 90px;
		margin: 5px;
	}
	#navigation {
		padding: 0px 0px 0px 0px;
	}
	.linkNavegacion {
		padding: 45px 30px 45px 30px;
		font-size: 25px;
	}
	#header {
		min-height: 116px;
	}
	#cuerpo {
		min-height: 500px;
	}
	#footer {
		font-size: 14px;
	}
	#datos {
		padding: 10px 30px 30px 0px;
		font-size: 16px;
	}
	#copyright {
		font-size: 12px;
	}

	.diapo p {
		font-size: 28px;
	}

	#wrapperContacto {
		padding: 100px 0 100px 80px;
		min-height: 200px;
	}
	.formContacto {

	}
	#camposWrapper {
		padding-bottom: 30px;
	}
	.campoFormulario {
		min-width: 356px;
		margin-bottom: 10px;
		font-size: 22px;
	}
	.campoFormulario label {
		font-size: 22px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 22px;
		padding: 0 0 0 5px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}
	.tituloInstitucional {
		font-size: 26px;
		padding-bottom: 25px;
	}
	.bajadaInstitucional {
		font-size: 16px;
	}
	.tituloContacto {
		font-size: 20px;
	}
	.bajadaContacto {
		font-size: 16px;
	}
	.encabezadoContacto {
		font-size: 50px;
	}
	#tituloFormacion {
		font-size: 40px;
	}
	#bajadaFormacion {
		font-size: 20px;
	}
	.itemNavegacionFormacion {
		min-height: 45px;
		padding: 5px 2%;
	}
	#tituloCalendario {
		font-size: 40px;
	}
	#bajadaCalendario {
		font-size: 17px;
	}
	.linkCalendario h1 {
		font-size: 40px;
	}
	.linkCalendario p {
		font-size: 13px;
	}
	.itemNavegacionCalendario {
		min-height: 15px;
		padding: 5px 2%;
	}

	.fraseInstitucional p, .fraseContacto p {
		font-size: 24px;
	}
	.fraseInstitucional p:before, .fraseContacto p:before {
		width: 37px;
		height: 32px;
	}
	.fraseInstitucional p:after, .fraseContacto p:after {
		width: 37px;
		height: 32px;
	}
}